TelecomSystem.API/bin
TelecomSystem.API/obj
TelecomSystem.Application/bin
TelecomSystem.Application/obj
TelecomSystem.Domain/bin
TelecomSystem.Domain/obj
TelecomSystem.Infrastructure/bin
TelecomSystem.Infrastructure/obj