<div class="container-fluid d-flex flex-column" style="min-height: 65vh;">
    <h3>Lista de Contratos</h3>
    <!-- Campo de pesquisa -->
    <div class="row">
        <div class="col-11">
            <div class="mb-3 mt-1">
                <div class="input-group">
                    <span class="input-group-text " id="search-label">Pesquisar</span>
                    <input type="text" class="form-control" placeholder="Buscar por plano ou filial ..."
                        aria-label="Pesquisar" aria-describedby="search-label" [(ngModel)]="filtro"
                        (input)="onBuscaChange()" />
                    <button class="btn btn-primary" type="button" (click)="limparFiltro()">
                        Limpar
                    </button>
                </div>
            </div>
        </div>

        <div class="col-1 text-end ">
            <a routerLink="/contratos/novo" [title]="'Adicionar novo contrato'" [className]="'btn btn-primary mb-3'"
                style="border-radius: 50%; width: 50px; height: 50px;">
                <i class="bi bi-plus-lg" style="font-size: 24px;"></i>
            </a>
        </div>
    </div>

    <div *ngIf="loading">Carregando...</div>

    <div *ngIf="!loading && contratos.length === 0">
        <p>Nenhum contrato encontrado.</p>
    </div>

    <div *ngIf="!loading && contratos.length > 0" class="flex-grow-1 d-flex flex-column">

        <!-- Tabela -->
        <div class="flex-grow-1">
            <table class="table table-striped table-fixed w-100">
                <thead>
                    <tr>
                        <th style="width: 25%;">Plano</th>
                        <th style="width: 25%;">Filial</th>
                        <th style="width: 20%;">Valor</th>
                        <th style="width: 20%;">Situação</th>
                        <th style="width: 10%;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ct of contratosPaginados">
                        <td class="text-truncate">{{ ct.plano }}</td>
                        <td class="text-truncate">{{ ct.filial.nome }}</td>
                        <td class="text-truncate">{{ ct.valorMensal | currency: 'BRL' }}</td>
                        <td class="text-truncate">
                            <span *ngIf="ct.status === 'Ativo'" class="badge bg-success">Ativo</span>
                            <span *ngIf="ct.status === 'Inativo'" class="badge bg-danger">Inativo</span>
                        </td>
                        <td class="text-truncate">
                            <a class="btn btn-sm btn-warning" [routerLink]="['/contratos', ct.id]"><i
                                    class="bi bi-pencil-square"></i></a>
                            <button class="btn btn-sm btn-danger ms-2" (click)="remover(ct.id)"><i
                                    class="bi bi-trash3"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Paginação sempre ao final -->
        <div>
            <app-pagination [totalItems]="contratosFiltrados.length" [pageSize]="pageSize" [page]="page"
                (pageChange)="onPageChange($event)" />
        </div>
    </div>
</div>