.collapsed {
  width: 70px !important;
}

.collapsed span {
  display: none;
}

.collapsed i {
  margin-right: 0 !important;
}

.nav-link.active {
  background-color: #0d6efd !important;
}


.bg-system{
    background-color: rgb(13 178 253)
}